body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height:90vh;
    margin: 0;
}
.event-box{

   width: 80%;
    
}
.eventButton{
    width: 100%;
    margin: 5px;
    font-weight: bold;  
    font-size: 23px;
    background-color: none;
    border-color: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
} 
.eventButton:hover{
    background-color: beige;
    box-shadow: 3px 3px 3px gray;
}  
.event-new{
    position: absolute;
    bottom: 50px;
    right: 100px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 23px;
    padding: 7px;
    border-radius: 12px;
    box-shadow: -2px 4px 9px gray;
    background-color: rgb(240, 240, 240);
}

.event-new:hover{
    box-shadow: -2px 6px 9px gray;
    padding: 8px;
}
.formDiv{
  display: none;
  position: absolute;
  top: 20%;
  left: 20%;
  min-width: 50%;
  height: 40%;
  background-color: #f1f1f1;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {display:block;}