<form class="contentInput" action="controller/eventNew.php" method="post">
    <label for="eventName">Insira o nome do evento:</label>
    <input type="text" name="eventName" required>
    <label for="eventDate">Insira a data:</label>
    <input type="date" name="eventDate" required>
    <label for="eventInit">Insira o Horário de inicio:</label>
    <input type="time" name="eventInit">
    <label for="eventEnd">Insira o Horário de conclusão:</label>
    <input type="time" name="eventEnd"/>
    <label for="eventDesc">Descrição:</label>
    <textarea class="input-desc" type="text" name="eventDesc"></textarea>
    <label for="eventRes">Responsavel pelo evento:</label>
    <input type="text" name="eventRes"/>
    <button type="submit">Enviar</button>
    </form>
